body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 115px;
    height: 150px;
    margin-bottom: 10px;
}

.login {
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    color: #777;
    margin-bottom: 20px;
}

.social-icons img {
    width: 25px;
    margin: 0 5px;
}

.contact-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-spacing: 0;
}